*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.bodybg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

img {
  width: 200px;
  height: 200px;
}

.imgUcu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 40px;
}

.box {
  border-radius: 15px;
  background-color: white;
  width: 400px;
  height: 350px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.para {
  width: auto;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(180, 180, 180);
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container-notip {
  position: absolute;
  display: none;
  justify-content: center;
}

.notip {
  width: 500px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notip h1 {
  color: red;
}

#kosong1 p {
  padding: 3px;
  height: 80px;
}

#kosong2 p {
  padding: 3px;
  height: 80px;
}

#kosong1 #tebak {
  margin-left: 120px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#kosong2 #tebak2 {
  margin-left: 120px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#kosong {
  display: block;
}

#kosong1 {
  display: none;
}

#kosong2 {
  display: none;
}

#kosong3 {
  display: none;
}

#kosong4 {
  display: none;
}

#kosong5 {
  display: none;
}

#para{
  font-size: 17px;
}
